learningplatform/.classpath
learningplatform/.gitignore
learningplatform/.project
learningplatform/.settings/org.eclipse.core.resources.prefs
learningplatform/.settings/org.eclipse.jdt.core.prefs
learningplatform/.settings/org.eclipse.m2e.core.prefs
